body {
    font-family: sans serif;
    font-size: 1em;
    color: maroon;
    background-color: #e6ffe6;
}


#content {
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

#main {
    background-color: #e6ffe6;
    padding: 0 20px;
}

footer {
    width: 940px;
    margin: 0;
    padding: 0px;
    background-color: #000;
}

.footerText {
    color: magenta;
    padding: 20px;
    margin: 20px;
}
