<!-- HtmlView:on, console:off -->

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Leo Salemann</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <!-- begin content container -->
    <div id="content">

        <!-- Same Header for all pages-->
        <header>
            <!-- Small headshot, floating to left, with three lines of text on right-->
            <a href="index.html">
                <img class="headerImage" src="../images/leo-headshot-tshirt-3098.jpg"
                     alt="Leo's Headshot" />
            </a>

            <h1 class="headLineText">Leo Salemann</h1>
            <h2 class="byLineText">Agile Coach, Technical Leader, Lifelong Learner</h2>
            <p class="tagline">Helping cat-herds become wolf-packs</p>

            <!-- Single-level menu-->
            <nav>
                <ul class="nav" id="menu-items">
                    <li class="nav" id="not4mobile"><a class="active" href="index.html">Home</a></li>
                    <li class="nav"><a href="projects.html">Projects</a></li>
                    <li class="nav"><a href="papers.html">Papers</a></li>
                    <li class="nav" id="not4mobile"><a href="resume.html">Resume</a></li>
                    <li class="nav" id="not4mobile"><a href="contact.html">Contact</a></li>
                    <li class="nav"><a href="code.html">Code</a></li>
                </ul>
            </nav>
            <!-- End Navigation -->
        </header>
        <!-- End Header -->
</body>
</html>